<div class="character-info">
    <div class="character-details">
        <div class="character-name">
            {{name}}
        </div>
    </div>

    <div class="character-info-top">
        <form class="character-attrs">
            <div class="bar-wrapper">
                {{#if isPlayer}}
                <div class="attr" id="luck-attr" data-uuid="{{uuid}}">
                    <label>{{localize "LIGHTSOUTSD.luck"}}</label>
                    <span>{{luck}}</span>
                </div>
                {{/if}}

                <div class="attr">
                    <label>{{localize "LIGHTSOUTSD.ac"}}</label>
                    <span>{{armor}}</span>
                </div>
            </div>
        </form>

        <div class="character-picture">
            <img class="character-img" src="{{picture}}" alt="{{name}}" />

            <div class="sheet" data-uuid="{{uuid}}" data-token={{isToken}}>
                {{localize "LIGHTSOUTSD.open_sheet"}}
            </div>

            <div class="character-level">
                <div class="character-level-badge"></div>
                <span>{{level}}</span>
            </div>
        </div>

        <div class="character-health">
            <div class="bar-wrapper">
                <div class="bar {{hp.status}}" style="width: {{hp.percent}}%"></div>

                <input type="text" id="current-health" data-value="{{hp.value}}" data-uuid="{{uuid}}"
                    data-token={{isToken}} value="{{hp.value}}" />
                <span class="divider">/</span>
                <input type="text" value="{{hp.max}}" disabled />
            </div>
        </div>

    </div>
</div>